# Logs
*.log
*.out
*.err

# Diretórios de compilação
bin/
build/
target/
out/

# Dependências baixadas
.gradle/
.mvn/
!**/src/main/**
!**/src/test/**

# Arquivos de configuração do IDE
.idea/
*.iml
*.iws
*.ipr
.vscode/

# Arquivos gerados pelo sistema operacional
.DS_Store
Thumbs.db

# Arquivos de cache
*.class
*.war
*.ear

# Arquivos temporários e backups
*.swp
*.swo
*.tmp
*.bak
*.old

# Arquivos gerados pelo Maven
dependency-reduced-pom.xml
release.properties
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
